@import "tailwindcss";

@theme {
  --font-sans: 'Rethink Sans', ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #1D1D1F;
  --background-alt: #F5F5F7;
  --background-gray: #e8e8edb8;
  --radius-lg: 28px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-alt: var(--background-alt);
  --color-background-gray: var(--background-gray);
  --font-sans: 'Rethink Sans', ui-sans-serif, system-ui, sans-serif;
  --shadow-custom: inset 0 0 .5px 0 rgba(0,0,0,.11);
  --radius-lg: var(--radius-lg);
  --breakpoint-2xl: 1440px;
}

body {
  color: var(--foreground);
  font-family: 'Rethink Sans', ui-sans-serif, system-ui, sans-serif;
}

p, span, button, input, li, a {
  font-family: 'Rethink Sans', ui-sans-serif, system-ui, sans-serif;
}

/* ── reset ── */
* { scrollbar-width: none; -ms-overflow-style: none; }
*::-webkit-scrollbar { display: none; }